@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../assets/polices/Montserrat-Regular.ttf');
}

* {
    font-family: 'Montserrat-Regular';
    font-weight: 500;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    position: relative;
}

#app {
    max-width: 1440px;
    margin: auto;
}

h1, h2, h3 {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}